/*
 * HomePage Layout Style
*/

#artist-page {
  position: relative;
  margin: 0;
  padding: 0;

  .content-bar {
    .search-results,
    .recent-search-wrapper,
    .search-field {
      display: none;
    }

    .single-artist-result {
      width: 100%;

      .background {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .center-box {
          color: #fff;
          display: flex;
          justify-content: center;
          align-content: center;
          flex-flow: column-reverse wrap;
          align-items: center;
          z-index: 99;
          #name {
            font-size: calc(4rem - 6px);
            margin: 0;
          }
          #fans {
            box-sizing: border-box;
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            margin: 0;
            border: 1px solid #fff;
            padding: 0.8em;
            border-radius: 20px;
            letter-spacing: 1px;
          }
        }
      }
    }
  }

  .side-menu > div {
    width: 230px !important;
  }

  .drawer-dock {
    lost-column: 1/5 0;
    position: fixed;
    left: 0;
    height: calc(100vh - 70px);
    z-index: 99;

    > div:nth-child(1) {
      > div:nth-child(1) {
        > div:nth-child(1) {
          height: calc(100vh - 85px) !important;
        }
      }
    }

    .goToSearch {
      text-decoration: none;
      color: #444;
      position: relative;
      display: flex;
      width: 100%;

      i {
        float: right;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    .spacer {
      margin-top: 2em;
    }
  }

  .interactive-view {
    position: fixed;
    left: 230px;
    width: calc(100% - 215px);
    margin: 0 auto;
    height: calc(100vh - 85px) !important;
    background-image: linear-gradient(to left, #e9e9e7 0%, white 100%);
    overflow: hidden;

    .content-bar {
      lost-center: 100%;
      overflow-y: scroll;
      padding-right: 17px;
      width: 100%;
      height: 100%;
    }
  }

  .bottom-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    border-top: 1px solid #e6e6e6;

    > div:nth-child(1) {
      height: 85px !important;

      > div:nth-child(1) {
        height: 100% !important;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-content: center;
        align-items: center;
      }
    }
  }
}
