/*
 * HomePage Layout Style
*/

#home-page {
  position: relative;
  margin: 0;
  padding: 0;

  .search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    align-content: center;
    margin: 2em auto 1em;
  }

  .drawer-dock {
    lost-column: 1/5 0;
    position: fixed;
    left: 0;
    height: calc(100vh - 70px);

    > div:nth-child(1) {
      > div:nth-child(1) {
        > div:nth-child(1) {
          height: calc(100vh - 85px) !important;
        }
      }
    }
  }

  .interactive-view {
    position: fixed;
    left: 256px;
    width: calc(100% - 256px);
    margin: 0 auto;
    height: calc(100vh - 85px) !important;

    .content-bar {
      lost-center: 980px;
    }
  }

  .bottom-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    border-top: 1px solid #e6e6e6;

    div:nth-child(1) {
      height: 85px !important;
      div:nth-child(1) {
        height: 100% !important;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-content: center;
        align-items: center;
      }
    }
  }
}
