@import url(http://fonts.googleapis.com/css?family=Roboto);
@import "./page";
@import "./top_results";
@import "./artist_results";
@import "./album_results";
@import "./recent_search";
@import "./single_artist";
@import "./tabs_albums";
@import "./tabs_tracks";
@import "./album_tracks";

html,
body {
  font-family: "Roboto";
}
