/*
 * SearchPage Layout Style
*/

#search_page_list {
  lost-center: calc(94%);
  width: 100%;
  text-align: center;
  flex-flow: column wrap !important;
  height: 100%;

  h3 {
    text-align: center;
    width: auto;
  }
  h3:before {
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
  }
  h3:after {
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
  }
  .recent-list {
    display: flex;
    width: auto;
    margin-top: 0;
    margin-top: 1em;

    .recent-link {
      width: auto;
      .recent-list-item:hover {
        width: auto;
        background: initial;
        opacity: 0.7;
      }
    }
  }
}

#search-page {
  position: relative;
  margin: 0;
  padding: 0;

  .search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-content: center;
    margin: 0 auto 1em;
    height: 160px;
    background: rgba(68, 68, 68, 0.1);
    color: #fff;
  }

  .search-field > div {
    height: 70% !important;
    text-indent: 10px;
  }

  .search-field > div > label {
    bottom: 10px !important;
    top: auto !important;
  }

  .search-field > div > input {
    font-size: 6em !important;
    height: auto !important;
    color: #444 !important;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.37);
  }

  .side-menu > div {
    width: 230px !important;
  }

  .drawer-dock {
    lost-column: 1/5 0;
    position: fixed;
    left: 0;
    height: calc(100vh - 70px);
    z-index: 99;

    > div:nth-child(1) {
      > div:nth-child(1) {
        > div:nth-child(1) {
          height: calc(100vh - 85px) !important;
        }
      }
    }
    .goToSearch {
      text-decoration: none;
      color: #444;
      position: relative;
      display: flex;
      width: 100%;

      i {
        float: right;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    .spacer {
      margin-top: 2em;
    }
  }

  .interactive-view {
    position: fixed;
    left: 230px;
    width: calc(100% - 215px);
    margin: 0 auto;
    height: calc(100vh - 85px) !important;
    background-image: linear-gradient(to left, #e9e9e7 0%, white 100%);
    overflow: hidden;

    .content-bar {
      lost-center: 100%;
      overflow-y: scroll;
      padding-right: 17px;
      width: 100%;
      height: 100%;
    }
  }

  .bottom-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    border-top: 1px solid #e6e6e6;

    div:nth-child(1) {
      height: 85px !important;
      div:nth-child(1) {
        height: 100% !important;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-content: center;
        align-items: center;
      }
    }
  }
}
