@lost flexbox flex;

.top-results {
  .lost-container {
    .img-result {
      height: 100%;
      lost-column: 1/1 0;
    }
    .top-result-list {
      lost-column: 1/1 0;
    }
  }
}

@media (min-width: 1000px) {
  .top-results {
    .lost-container {
      .img-result {
        height: 450px;
        lost-column: 2/6 0;
      }
      .top-result-list {
        lost-column: 2/3 0;
      }
    }
  }
}

.content-bar {
  overflow: scroll;
  height: calc(100vh - 80px);
  width: 100%;
}

.top-results {
  width: calc(100%);

  .lost-container {
    lost-center: calc(94%);
    margin: 0 auto;
    .img-result {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-flow: column wrap;

      img {
        width: 230px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
      }
    }

    .top-result-list {
      .result-list-meta {
        position: relative;
      }

      .result-link {
        text-decoration: none;
      }

      .result-link:hover {
        opacity: 0.7;
      }
    }
  }
}
