@lost flexbox flex;

.content-bar {
  overflow: scroll;
  height: calc(100vh - 80px);
}

.top-results {
  width: calc(100%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;

  .img-result {
    lost-column: 1/4 0;
    height: 450px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;

    img {
      width: 200px;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }
  }

  .top-result-list {
    lost-column: 2/3 0;

    .result-list-meta {
      position: relative;
    }

    .result-link {
      text-decoration: none;
    }

    .result-link:hover {
      opacity: 0.7;
    }
  }
}
